[oh-my-zsh]
    hide-status = 1
[user]
    name = hyliang96
    email = hyliang96@hotmail.com
[push]
    default = simple
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[alias]
    co = checkout
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = vim
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
; [commit]
    ; template = /Users/mac/.stCommitMsg
